.App {
  text-align: center;
}

.Tasks{
  background-color: pink;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.form-container {
  padding: 50px;
}

.task-list-container > tr {
  border: 1px solid black;
}

.task-list-container th {
  border: 1px solid black;
}

.task-list-container td {
  border: 1px solid black;
}