.App {
  text-align: center;
}

.Tasks{
  background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
}

.form-container {
  padding: 50px;
}

.form-container > button {
  background-color: #cc95c0;
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
  border-radius: 5px;
}

.form-container > button:hover {
  background-color: black;
  cursor: pointer;
  color: #cc95c0;
  border: 5px solid #cc95c0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.form-container > input {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 5px;
  border: 3px solid black;
  margin: 10px;
  width: 300px;
  cursor: pointer;
}

.form-container > select {
  background-color: #a3c6f0;
  padding: 9px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 5px;
  border: 3px solid black;
  margin: 10px;
  cursor: pointer;
}

.task-list-container > tr {
  border: 1px solid black;
}

.task-list-container > tr:hover {
  background-color: black;
  cursor: pointer;
  color: #cc95c0;
  border: 5px solid #cc95c0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.task-list-container th {
  border: 1px solid black;
  background-color: #c26baf;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid black;
}

.task-list-container td {
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}


.title {
  color: #040320;
  font-size: 25px;
  border: 3px solid black;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  background-color: #c26baf;
  margin-bottom: 80px;
}